*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#hero
{
    min-height: 100vh;
    position: relative;
}

body  
{
    margin: 0;
    padding: 0;
  }


a{

    text-decoration: none;
    color: #fff;
    font-size: 1rem; 
}
a:hover{
    color: orange;
}
header{
    position: relative;
    padding: 0 2rem;
}
  
video
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

li{
    list-style: none;
}
.cape
{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: black;
opacity: 0.5;
mix-blend-mode: overlay;
}

.NASA
{
    z-index: 2;
    position: relative;
    padding-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: azure;
}


  .navbar
  {
    position: relative;
    z-index: 2;   
      width: 100%;
      height: 60px;
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .navbar .logo a{
      font-size: 1.5rem;
      font-weight: bold;
  }
  .navbar .links{
      display:flex;
      gap: 2rem;
  }
  .navbar .toggle_btn{
      color: #fff;
      font-size: 1.5rem;
      cursor: pointer;
      display: none;
  }
  .action_btn{
    background-color: orange;
    color: #fff;
    padding: 0.5rem 2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.05;
    color: #fff;
}
.action_btn:active{
    scale: 0.95;
}

